@font-face {
  font-family: 'Mono';
  src: url('../fonts/PTM55F_W.woff') format('woff'),
  url('../fonts/PTM55F_W.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Mono';
  src: url('../fonts/PTM75F_W.woff') format('woff'),
  url('../fonts/PTM75F_W.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
