html, body {
  background: url('../img/index/empty_bg.jpg') #dfe0e6;
  background-size: cover;
  font-variant-numeric: lining-nums;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: 'Mono', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  min-height: 100vh;

  overflow-x: hidden;
// overflow-y: auto;
  &.no-scroll {
    overflow: hidden !important;
  }
}

body {
  display: flex;
  flex-direction: column;
}

main {
  margin-bottom: auto;
}

.ps > .ps__rail-x,
.ps > .ps__rail-y {
  opacity: 0.6;
}

.img-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  img {
    min-height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

.btn, .form-control {
  box-shadow: none !important;
}

.btn {
  padding: 0px 20px;
  font-size: 16px;
  border-radius: 5px;
  transition: background 0s ease;

  &.blue {
    color: white !important;
    background: linear-gradient(#23b1f8, #4482eb) !important;
    &:hover {
      background: linear-gradient(#4c8af2, #3860c1) !important;
    }
  }
  &.white {
    background: white !important;
    color: #4481eb !important;
    border: 1px solid #4481eb !important;
    &:hover {
      background: linear-gradient(#eceff3, #fff) !important;
    }
  }
  &.grey {
    background: white;
    color: #babdc9 !important;
    border: 1px solid #babdc9 !important;
    &:hover {
      background: #babdc9 !important;
      color: #fff !important;
    }
  }
  &.red {
    color: white !important;
    background: linear-gradient(#f59c9d, #f16272) !important;
    border: 1px solid transparent !important;
    &:hover {
      background: #d62b33 !important;
      background: linear-gradient(#f16272, #d62b33) !important;
      color: #fff !important;
    }
  }

  &:active {
    box-shadow: inset 0px 0px 15px 2px rgba(0, 0, 0, 0.2) !important;
  }
}

.dot-icon {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 6px;
  margin-bottom: 0px;

  &.green {
    background-color: #8bc34a;
  }
  &.red {
    background-color: #d62b33;
  }
  &.blue {
    background-color: #4481eb;
  }
  &.grey {
    background-color: #c7cdd9;
  }
}

.modal-backdrop {
  background-color: rgb(3, 12, 28);
  &.show {
    opacity: 0.851;
  }
}

.modal {
  .modal-dialog {

  }
  .modal-content {
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0px 20px 50px 0px rgba(0, 15, 45, 0.4);
  }
  .modal-header {
    margin: 0 auto;
    border: none;
    justify-content: center;
    .modal-title {
      font-size: 31px;
    }
  }
  .modal-body {
    .input-wrap {
      margin-bottom: 20px;
    }
    input {
      padding: 10px 40px;
      font-size: 18px;
      color: #4481eb;
      line-height: 1;
      border-radius: 10px;
      border: 2px solid #dee2e8;
      &:focus {
        border-color: #80bdff;
      }
    }
    .select-filter {
      .dropdown-menu.inner {
        display: block;
      }
      .bootstrap-select {
        width: 100% !important;
        min-width: 220px;
        button {
          padding: 8px;
          padding-left: 20px;
          padding-right: 70px;
          margin-top: 0px;
          text-align: left;
          font-size: 18px;
          background-color: #fff;
          border-radius: 10px;
          border: 1px solid #ced4da;
          outline: none !important;
          &::after {
            content: none;
          }
          &:active {
            box-shadow: none !important;
          }
          .filter-option {
            vertical-align: middle;
            width: auto;
            color: #4481eb;
          }
          .bs-caret {
            position: absolute;
            right: 0;
            top: 0;
            display: inline-block;
            width: 70px;
            height: 100%;
            float: right;
            background: linear-gradient(to top, #eceff3, #fff);
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            border-left: 1px solid #ced4da;
            .caret {
              background: url("../img/index/down2.svg") no-repeat;
              background-size: contain;
              width: 14px;
              height: 14px;
              display: block;
              margin: auto;
              margin-top: 17px;
              top: auto;
              right: auto;
              position: relative;
            }
          }
        }
        .dropdown-menu {
          &.open {
            padding: 15px 0px;
          }
          a {
            color: #333;
            outline: none !important;
            display: block;
            padding: 2px 10px;
            &:hover {
              background-color: #eceff3;
            }
          }
          .text {
            white-space: nowrap;
            font-size: 16px;
          }
        }
      }
    }
  }
  .modal-footer {
    border: none;
    margin: 0 auto;
    justify-content: center;
    button {
      padding: 0 40px;
      height: 45px;
      font-size: 18px;
      border-radius: 10px;
    }
  }
  .close {
    position: absolute;
    top: -35px;
    right: 0;
    font-weight: normal;
    font-size: 18px;
    text-shadow: none;
    color: #fff;
    outline: none !important;
    svg {
      margin-left: 5px;
      width: 21px;
      height: 21px;
      fill: #fff;
      vertical-align: bottom;
    }
    &:hover {
      color: #fff !important;
    }
  }
}

.popover {
  .popover-img {
    width: 100%;
    object-fit: contain;
  }
}

.pagination {
  margin-top: 15px;
  padding-left: 15px;
  padding-right: 15px;

  .page-item {

    .page-link {
      box-shadow: none !important;
      transition: all .2s ease;
      font-size: 14px;
      color: #333;
      i {
        font-size: 12px;
        vertical-align: text-top;
        font-weight: lighter;
      }
    }
    &:hover .page-link {
      color: #4481eb !important;
    }
    &.disabled .page-link {
      pointer-events: auto;
      cursor: not-allowed;
      color: #868e96 !important;
    }
    &.active .page-link {
      background-color: #e7eaec !important;
      color: #263238 !important;
      border-color: #DDDDDD !important;
    }
  }
}

.table-responsive {
  /*overflow-x: visible; */
  min-height: 260px;
  position: relative;

  .text-filer {
    .input-group {
      position: relative;
      input {
        height: 30px;
        width: 100%;
        min-width: 120px;
        margin-top: 8px;
        padding: 0px 10px;
        padding-right: 27px;
        outline: none;
        border-radius: 5px;
        font-size: 14px;
      }
      button {
        display: none;
        position: absolute;
        padding: 0;
        width: 24px;
        height: 24px;
        top: 11px;
        right: 3px;
        background-color: transparent;
        border: 0;
        border-radius: 50%;
        transition: all 200ms;
        outline: none;
        z-index: 3;
        background-image: url("../img/index/close1.svg");
        background-repeat: no-repeat;
        background-size: 10px 10px;
        background-position: center;
        svg {
          width: 10px;
          height: 10px;
          fill: #DF595F;
        }
        &:hover {
          background-color: #eee;
        }
      }
    }
  }
  .select-filter {
    .dropdown-menu.inner {
      display: block;
      max-height: 125px !important;
      overflow-y: auto;
    }
    .bootstrap-select {
      width: 100% !important;
      min-width: 220px;
      button {
        padding: 0px;
        padding-left: 10px;
        padding-right: 35px;
        margin-top: 8px;
        height: 30px;
        text-align: left;
        font-size: 14px;
        background-color: #fff;
        border-radius: 5px;
        border: 1px solid #ced4da;
        outline: none !important;
        &::after {
          content: none;
        }
        &:active {
          box-shadow: none !important;
        }
        .filter-option {
          vertical-align: middle;
          width: auto;
        }
        .bs-caret {
          position: absolute;
          right: 0;
          top: 0;
          display: inline-block;
          width: 30px;
          height: 100%;
          float: right;
          background: linear-gradient(to top, #eceff3, #fff);
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          border-left: 1px solid #ced4da;
          .caret {
            background: url("../img/index/down2.svg") no-repeat;
            background-size: contain;
            width: 11px;
            height: 11px;
            display: block;
            margin: auto;
            margin-top: 8px;
            top: auto;
            right: auto;
            position: relative;
          }
        }
      }
      .dropdown-menu {
        &.open {
          padding: 15px 0px;
          max-height: inherit !important;
        }
        a {
          color: #333;
          outline: none !important;
          display: block;
          padding: 2px 10px;
          &:hover {
            background-color: #eceff3;
          }
        }
        .text {
          white-space: nowrap;
          font-size: 16px;
        }
      }
    }
  }
  .date-filter {
    padding-right: 0px;
    input {
      height: 30px;
      margin-top: 8px;
      padding: 0px 10px;
      padding-right: 40px;
      min-width: 137px;
      outline: none;
      font-size: 14px;
      border-top-right-radius: 5px !important;
      border-bottom-right-radius: 5px !important;
    }
    button {
      position: absolute;
      right: 0;
      top: 0;
      height: 30px;
      padding: 0 10px;
      outline: none;
      margin-top: 8px;
      font-size: 14px;
      border: 1px solid #ced4da;
      border-radius: 5px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      margin-left: -1px;
      background: linear-gradient(to top, #eceff3, #fff);
      z-index: 3;
      &:hover {
        background-color: #eee;
      }
      &:after {
        display: none;
      }
      svg {
        width: 15px;
      }
    }
  }
  .btn-wrap {
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    visibility: hidden;
    .btn-table {
      display: inline;
      width: 25px;
      height: 25px;
      border-radius: 5px;
      margin-right: 7px;
      span {
        top: 4px;
        left: 5px;
      }
      &:hover {
        cursor: pointer;
      }
    }
    .btn-edit {
      color: #4481eb;
      border: 1px solid #4481eb;
      &:hover {
        background-color: #4481eb;
        color: white;
      }
    }
    .btn-del {
      color: #d62b33;
      border: 1px solid #d62b33;
      &:hover {
        background-color: #d62b33;
        color: white;
      }
    }
    .btn-ban {
      color: #c7cdd9;
      border: 1px solid #c7cdd9;
      &:hover {
        background-color: #c7cdd9;
        color: white;
      }
    }
    .btn-detail {
      span {
        left: 7px;
      }
    }
  }

  .no-arr {
    &::before {
      display: none !important;
    }
  }
}

#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: white;

  .preload-wrap {
    position: fixed;
    left: 50%;
    top: 50%;
    height: 200px;
    width: 200px;
    margin-top: -100px;
    margin-left: -100px;
  }
  .obj {
    border-radius: 50% 50% 50% 50%;
    position: absolute;
    border-left: 5px solid #70acdc;
    border-right: 5px solid #70acdc;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    animation: loading 2s infinite;
  }
  .obj-1 {
    left: 75px;
    top: 75px;
    width: 50px;
    height: 50px;
  }
  .obj-2 {
    left: 65px;
    top: 65px;
    width: 70px;
    height: 70px;
    animation-delay: 0.1s;
  }
  .obj-3 {
    left: 55px;
    top: 55px;
    width: 90px;
    height: 90px;
    animation-delay: 0.2s;
  }
  .obj-4 {
    left: 45px;
    top: 45px;
    width: 110px;
    height: 110px;
    animation-delay: 0.3s;
  }
}

.hide {
  display: none !important;
}

.anim-before {
  opacity: 0;
}

.anim {
  animation: customFadeInUp 1s ease both;
}

@keyframes customFadeInUp {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes loading {
  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(0deg);
  }
}