header {
  padding: 10px 20px 0;

  .navbar-brand {
    .pic-logo {
      height: 40px;
      img {
        object-fit: contain;
        height: 100%;
        width: auto;
      }
    }
  }
  .navbar-link {
    padding-left: 150px;
    flex: 1;
    .nav-link {
      font-size: 18px;
      margin-right: 60px;
      white-space: nowrap;
      &::after {
        margin-left: .555em;
        vertical-align: middle;
      }
    }
    .nav-item {
      align-items: center;
      display: flex;
      &:last-child .nav-link {
        margin-right: 20px;
      }
      &.active .nav-link {
        &:before {
          content: ">";
          padding-right: 10px;
        }
        color: #4481eb !important;
        font-weight: bold;
      }
    }
    .dropdown-menu {
      .dropdown-item {
        color: #333;
        outline: none !important;
        display: block;
        padding: 5px 20px;
        &:hover {
          background-color: #eceff3;
        }
      }
    }
  }
  .navbar-info {
    position: relative;
    margin-right: 65px;
    min-width: 270px;
    .info-img {
      display: table;
      margin: auto;
      margin-right: 21px;
      width: 46px;
      height: 46px;
      background-color: #fff;
      box-shadow: 0px 5px 20px 1px rgba(236, 238, 243, 1);
      border-radius: 50%;
      svg {
        width: 20px;
        height: 20px;
        margin: 13px auto;
        fill: #c1c4ce;
        display: block;
      }
    }
    .info-name {
      font-size: 14px;
      font-weight: 600;
      display: block;
      margin-bottom: 0;
      margin-top: 3px;
    }
    .info-login {
      font-size: 14px;
      display: block;
      margin-bottom: 0;
    }
  }
  .navbar-btn {
    .btn-out {
      padding: 6px 28px;
      font-size: 14px;
      background: linear-gradient(#eceff3, #fff) !important;
      color: #4481eb !important;
      border: 1px solid #eaf1f8 !important;
      border-radius: 5px;
      box-shadow: 0px 5px 20px 1px rgba(236, 238, 243, 0.8) !important;
      transition: none;
      &:hover {
        background: linear-gradient(#fff, #eceff3) !important;
        border: 1px solid #4481eb !important;
      }
      &:active {
        box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.2) !important;
      }
    }
  }
}