@media screen and (min-width: 1635px) {
  .container {
    max-width: 1440px !important;
  }
}

@media screen and (max-width: 1634.98px) {
  header {
    .navbar-wrap {
      display: block !important;
    }
    .navbar-link {
      .nav-item {
        &:last-child .nav-link {
          margin-right: 0px;
        }
      }
    }
    .navbar-info {
      display: inline-flex;
      padding-left: 150px;
      padding-top: 25px;
    }
    .navbar-btn {
      display: inline-block;
      position: relative;
      vertical-align: top;
      margin-top: 25px;
    }
  }

  .navbar-expand-lg .navbar-collapse {
    display: block !important;
  }

}

@media screen and (min-width: 1400px) and  (max-width: 1634.98px) {
  .container {
    max-width: 1240px !important;
  }
}

@media screen and (min-width: 1200px) and  (max-width: 1399.98px) {

}

@media screen and (max-width: 1199.98px) {
  header {
    .navbar-link {
      padding-left: 60px;
      .nav-link {
        margin-right: 40px;
      }
    }
    .navbar-info {
      padding-left: 60px;
    }
  }

}

@media screen and (min-width: 992px) and  (max-width: 1199.98px) {

}

@media screen and (max-width: 991.98px) {
  header {
    .navbar-toggler {
      outline: none !important;
      border: none;
    }
    .navbar-expand-lg .navbar-collapse.collapse {
      display: none !important;
    }
    .navbar-expand-lg .navbar-collapse.collapse.show {
      display: block !important;
    }
    .navbar-wrap {
      .navbar-link {
        padding-left: 0;
        padding-top: 20px;
      }
      .navbar-info {
        padding-left: 0;
        .info-img {
          margin-left: 0;
        }
      }
    }
  }

  .modal {
    .modal-header .modal-title {
      font-size: 20px;
    }
  }

  .index-page {
    .search-block .search-wrap input {
      width: 1%;
      padding: 5px 10px;
    }
    .search-block .search-wrap .btn {
      padding: 0px 15px;
    }
  }

  .search-page {
    .search-block .search-wrap input {
      width: 1%;
      padding: 5px 10px;
    }
    .search-block .search-wrap .btn {
      padding: 0px 15px;
    }
  }

  .order_list-page, .admin_list-page, .operations_list-page {
    .search-block .btn-wrap {
      margin-top: 20px;
    }
  }

  .new_operations-page {
    .operations-wrap {
      width: 100%;
    }
  }
}
