.admin_list-page {
  background-color: #fff;
  min-height: calc(100vh - 79px);
  box-shadow: 0px 0px 30px 0px rgba(0, 33, 99, 0.1);

  .search-block {
    padding: 30px 20px 0;
    .title {
      text-align: left;
      font-size: 32px;
      font-weight: normal;
    }
    .search-wrap {
      input {
        padding: 10px 15px;
        height: 44px;
        font-size: 14px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        color: #4481eb;
      }
      button {
        padding: 0 30px;
        height: 44px;
        font-size: 14px;
        color: white !important;
        background: linear-gradient(#23b1f8, #4482eb) !important;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        &:hover {
          background: linear-gradient(#4c8af2, #3860c1) !important;
        }
        &:active {
          box-shadow: inset 0px 0px 15px 2px rgba(0, 0, 0, 0.2) !important;
        }
        .imgLiquid {
          width: 20px;
          height: 100%;
        }
      }
    }
    .btn-wrap {
      .btn {
        height: 44px;
        padding: 9px 30px;
        font-size: 16px;
        &.white {
          margin-left: 20px;
        }
      }
    }
  }

  .table-block {
    .table-responsive {
      margin-top: 25px;
    }
    .table {
      td, th {
        border-top: none;
      }
      thead th {
        font-size: 14px;
        font-weight: normal;
        color: #333;
        border-bottom: 0px solid #cecfd6;
        border-top: 1px solid #cecfd6;
        background-color: #f2f3f5;
        vertical-align: top;
        white-space: nowrap;
        &::before {
          content: "\2193\2191";
          display: inline;
          float: right;
        }
      }
      tbody td {
        font-size: 14px;
        vertical-align: middle;
      }
      tbody tr {
        border-top: 1px solid transparent;
        margin-bottom: 1px;
        .imgLiquid {
          height: 30px;
          width: 30px;
          border-radius: 50%;
          box-shadow: 0px 2px 7px 0px rgba(5, 21, 48, 0.25) !important;
        }
        &:first-child {
          border-top: 1px solid #cecfd6;
        }
        &:nth-of-type(even) {
          background-color: rgba(0, 0, 0, .05);
        }
        &:hover {
          background-color: rgba(198, 217, 245, 0.1);
          border-top: 1px solid #c6d9f5 !important;
          border-bottom: 1px solid #c6d9f5;
          .btn-wrap {
            visibility: visible;
          }
        }
      }

      .long-input {
        min-width: 290px !important;
      }
    }
  }

  .newModal {
    .modal-dialog {
      max-width: 1030px;
      margin: 30px auto;
      margin-top: 50px;
    }
    .modal-header {
      padding: 0 15px;
      .modal-title {
        text-align: center;
        padding: 0;
      }
    }
    .modal-body {
      padding: 0;
      padding-top: 15px;
      .col-form-label {
        font-size: 18px;
        color: #a1acbb;
      }
      .custom-control-label {
        color: #a1acbb;
      }
      .custom-control-label::before {
        box-shadow: none !important;
      }
      .form-control {
        padding: 8px 20px;
      }
    }
    .modal-footer {
      .btn.white {
        border: 2px solid #4481eb !important;
        margin-right: 20px;
      }
    }
    .checkbox {
      label {
        padding-left: 0;
        vertical-align: bottom;
        font-size: 14px;
      }
      label:after {
        content: '';
        display: table;
        clear: both;
      }
    }
  }

  .importModal {
    .modal-dialog {
      max-width: 800px;
      margin: 30px auto;
    }
    .modal-header {
      padding: 0 15px;
      .modal-title {
        text-align: center;
        padding: 0;
      }
    }
    .modal-body {
      padding: 0;
      padding-top: 40px;
      .text {
        padding-bottom: 12px;
        font-size: 18px;
        color: #a1acbb;
        text-align: center;
      }
      .custom-file-label {
        padding-left: 30px;
        padding-right: 160px;
        border-radius: 10px;
        height: calc(2.25rem + 4px);
        border: 2px solid #dee2e8;
        background-color: #f5f6f8;
        color: #ccd1d8;
        &::after {
          content: "Выбрать файл";
          border-radius: 0 8px 8px 0;
          height: calc(calc(2.25rem + 3px) - 1px * 2);
          background: linear-gradient(#e9e9ec, #c4c7cf);
        }
      }
    }
    .modal-footer {
      .btn.white {
        border: 2px solid #4481eb !important;
        margin-right: 20px;
      }
    }
  }

  .deleteModal {
    .modal-dialog {
      max-width: 780px;
    }
    .modal-title {
      text-align: center;
    }
    .modal-footer {
      .btn.white {
        border: 2px solid #4481eb !important;
        margin-right: 20px;
      }
    }
    &.show {
      visibility: visible;
    }
  }

  .blockModal {
    .modal-dialog {
      max-width: 780px;
    }
    .modal-title {
      text-align: center;
    }
    .modal-footer {
      .btn.white {
        border: 2px solid #4481eb !important;
        margin-right: 20px;
      }
    }
    &.show {
      visibility: visible;
    }
  }

  .deleteInfoModal {
    .modal-dialog {
      max-width: 900px;
    }
    .modal-footer {
      .btn {
        padding: 0 50px !important;
        margin-top: 0;
        font-size: 18px;
        height: 40px;
      }
    }
    .modal-text {
      font-size: 24px;
      white-space: normal;
      text-align: center;
    }
    &.show {
      visibility: visible;
    }
  }

  .editModal {
    .modal-dialog {
      max-width: 1030px;
      margin: 30px auto;
      margin-top: 50px;
    }
    .modal-header {
      padding: 0 15px;
      .modal-title {
        text-align: center;
        padding: 0;
      }
    }
    .modal-body {
      padding: 0;
      padding-top: 15px;
      .col-form-label {
        font-size: 18px;
        color: #a1acbb;
      }
      .custom-control-label {
        color: #a1acbb;
      }
      .custom-control-label::before {
        box-shadow: none !important;
      }
      .form-control {
        padding: 8px 20px;
      }
      .select-filter .btn {
        height: 44px;
      }
    }
    .modal-footer {
      .btn.white {
        border: 2px solid #4481eb !important;
        margin-right: 20px;
      }
    }
    .checkbox {
      label {
        padding-left: 0;
        vertical-align: bottom;
        font-size: 14px;
      }
      label:after {
        content: '';
        display: table;
        clear: both;
      }
    }
    &.show {
      visibility: visible;
    }
  }

}