.new_operations-page {

  .operations-wrap {
    width: 870px;
    padding: 40px 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 100px;
    border: none;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0px 10px 30px 0px rgba(0, 33, 99, 0.1);

    .operations-title {
      font-size: 30px;
      margin-top: 0;
      margin-bottom: 40px;
    }
    .wizard-wrap {
      background: url("../img/index/stepper_lines.png") no-repeat;
      background-position: 225px 25px;
      .wizard-img-wrap {
        display: inline-block;
        .wizard-img {
          width: 50px;
          height: 50px;
        }
      }
      .wizard-text {
        display: inline-block;
        vertical-align: top;
        font-size: 14px;
        line-height: 50px;
        &.pr {
          padding-right: 118px;
          padding-left: 15px;
        }
        &.grey {
          color: #bdc1ca;
          padding-left: 12px;
        }
      }
    }
    .text-label {
      color: #a8b2c0;
      margin-bottom: 4px;
      margin-top: 38px;
      font-size: 14px;
    }
    .file-filter {
      margin-bottom: 20px;
      .custom-file-label {
        padding-left: 30px;
        padding-right: 160px;
        border-radius: 10px;
        height: calc(2.25rem + 4px);
        border: 2px solid #dee2e8;
        background-color: #f5f6f8;
        color: #ccd1d8;
        &::after {
          content: "Выбрать файл";
          border-radius: 0 8px 8px 0;
          height: calc(calc(2.25rem + 3px) - 1px * 2);
          background: linear-gradient(#e9e9ec, #c4c7cf);
        }
      }
    }
    .btn {
      padding: 10px 45px;
      font-size: 16px;
      border-radius: 10px;
      margin-top: 60px;
      &.white {
        border: 2px solid #4481eb !important;
        margin-right: 20px;
      }
    }
  }

  .upload-block {
    display: none;
  }
  .upload-wrap {
    max-width: 880px;
    padding: 40px 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 100px;
    border: none;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0px 10px 30px 0px rgba(0, 33, 99, 0.1);

    .upload-title {
      font-size: 30px;
      margin-top: 0;
      margin-bottom: 40px;
    }
    .wizard-wrap {
      background: url("../img/index/stepper_lines.png") no-repeat;
      background-position: 225px 25px;
      .wizard-img-wrap {
        display: inline-block;
        .wizard-img {
          width: 50px;
          height: 50px;
        }
      }
      .wizard-text {
        display: inline-block;
        vertical-align: top;
        font-size: 14px;
        line-height: 50px;
        &.pr {
          padding-right: 118px;
          padding-left: 15px;
        }
        &.grey {
          color: #bdc1ca;
          padding-left: 12px;
        }
        &.pl {
          padding-left: 10px;
        }
      }
    }
    .info-text {
      color: #bdc1ca;
      font-size: 18px;
      margin-top: 40px;
      line-height: 1.4;
    }
    .info-num {
      font-size: 18px;
      margin-top: 14px;
    }
    .comment {
      margin-top: 30px;
      textarea {
        padding: 15px 20px;
        font-size: 18px;
        border-radius: 10px;
      }
    }
    .btn {
      padding: 10px 45px;
      font-size: 16px;
      border-radius: 10px;
      margin-top: 30px;
      &.grey {
        border: 2px solid #babdc9 !important;
        margin-right: 20px;
      }
    }
  }

  .newOperationsModal {
    .modal-dialog {
      max-width: 510px;
    }
    .modal-footer {
      .btn {
        padding: 0 50px !important;
        margin-top: 0;
        font-size: 18px;
        height: 40px;
      }
    }
  }

}