.new_order-page {

  .order-block {
    .order-wrap {
      margin-left: auto;
      margin-right: auto;
      margin-top: 40px;
      margin-bottom: 100px;
      padding: 40px 50px;
      max-width: 930px;
      border: none;
      border-radius: 30px;
      background-color: #fff;
      box-shadow: 0px 10px 30px 0px rgba(0, 33, 99, 0.1);
    }
    .order-pic-wrap {
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: space-between;
      .order-title {
        font-size: 30px;
        margin-top: 0px;
      }
      .card-img-wrap {
        margin-top: 20px;
        margin-bottom: 40px;
        width: 100%;
        max-width: 320px;
        height: 201px;
        border-radius: 10px;
        box-shadow: 0px 2px 7px 0px rgba(5, 21, 48, 0.25) !important;
        transition: background .4s ease;
      }
    }
    .text-label {
      color: #a8b2c0;
      margin-bottom: 0;
    }
    .text-filer {
      margin-bottom: 40px;
      .input-group {
        position: relative;
        input {
          height: 48px;
          width: 100%;
          min-width: 120px;
          margin-top: 4px;
          padding: 0px 10px;
          padding-right: 35px;
          padding-left: 20px;
          outline: none;
          border-radius: 10px;
          font-size: 18px;
        }
        button {
          display: none;
          position: absolute;
          padding: 0;
          width: 24px;
          height: 24px;
          top: 16px;
          right: 6px;
          background-color: transparent;
          border: 0;
          border-radius: 50%;
          transition: all 200ms;
          outline: none;
          z-index: 3;
          background-image: url("../img/index/close1.svg");
          background-repeat: no-repeat;
          background-size: 10px 10px;
          background-position: center;
          svg {
            width: 10px;
            height: 10px;
            fill: #DF595F;
          }
          &:hover {
            background-color: #eee;
          }
        }
      }
    }
    .select-filter {
      margin-bottom: 40px;
      .dropdown-menu.inner {
        display: block;
      }
      .bootstrap-select {
        width: 100% !important;
        min-width: 220px;
        button {
          padding: 0px;
          padding-left: 20px;
          padding-right: 80px;
          margin-top: 4px;
          height: 48px;
          text-align: left;
          font-size: 14px;
          background-color: #fff;
          border-radius: 10px;
          border: 1px solid #ced4da;
          outline: none !important;
          &::after {
            content: none;
          }
          &:active {
            box-shadow: none !important;
          }
          .filter-option {
            vertical-align: middle;
            width: auto;
            color: #4481eb;
            font-size: 18px;
          }
          .bs-caret {
            position: absolute;
            right: 0;
            top: 0;
            display: inline-block;
            width: 80px;
            height: 100%;
            float: right;
            background: linear-gradient(to top, #eceff3, #fff);
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            border-left: 1px solid #ced4da;
            .caret {
              background: url("../img/index/down2.svg") no-repeat;
              background-size: contain;
              width: 14px;
              height: 14px;
              display: block;
              margin: auto;
              margin-top: 16px;
              top: auto;
              right: auto;
              position: relative;
            }
          }
        }
        .dropdown-menu {
          &.open {
            padding: 15px 0px;
          }
          a {
            color: #333;
            outline: none !important;
            display: block;
            padding: 2px 10px;
            &:hover {
              background-color: #eceff3;
            }
          }
          .text {
            white-space: nowrap;
            font-size: 18px;
          }
        }
      }
    }
    .btn {
      padding: 7px 37px;
      font-size: 16px;
      border-radius: 10px;
      margin-top: 10px;
      &.blue {

      }
      &.white {
        border: 2px solid #4481eb !important;
      }
    }
  }

  .newOrderModal {
    .modal-dialog {
      max-width: 460px;
    }
    .modal-footer {
      .btn {
        padding: 0 50px !important;
        margin-top: 0;
        font-size: 18px;
        height: 40px;
      }
    }
  }

}