.operations_list-page {
  background-color: #fff;
  min-height: calc(100vh - 79px);
  box-shadow: 0px 0px 30px 0px rgba(0, 33, 99, 0.1);

  .search-block {
    padding: 30px 20px 0;
    .title {
      text-align: left;
      font-size: 32px;
      font-weight: normal;
    }
    .search-wrap {
      input {
        padding: 10px 15px;
        height: 44px;
        font-size: 14px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        color: #4481eb;
      }
      button {
        padding: 0 30px;
        height: 44px;
        font-size: 14px;
        color: white !important;
        background: linear-gradient(#23b1f8, #4482eb) !important;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        &:hover {
          background: linear-gradient(#4c8af2, #3860c1) !important;
        }
        &:active {
          box-shadow: inset 0px 0px 15px 2px rgba(0, 0, 0, 0.2) !important;
        }
        .imgLiquid {
          width: 20px;
          height: 100%;
        }
      }
    }
    .btn-wrap {
      .btn {
        height: 44px;
        padding: 9px 30px;
        font-size: 16px;
        &.white {
          margin-left: 20px;
        }
      }
    }
  }

  .table-block {
    .table-responsive {
      margin-top: 25px;
    }
    .table {
      td, th {
        border-top: none;
      }
      thead th {
        font-size: 14px;
        font-weight: normal;
        color: #333;
        border-bottom: 0px solid #cecfd6;
        border-top: 1px solid #cecfd6;
        background-color: #f2f3f5;
        vertical-align: top;
        white-space: nowrap;
        &::before {
          content: "\2193\2191";
          display: inline;
          float: right;
        }
      }
      tbody td {
        font-size: 14px;
        vertical-align: middle;
      }
      tbody tr {
        border-top: 1px solid transparent;
        margin-bottom: 1px;
        .imgLiquid {
          height: 30px;
          width: 30px;
          border-radius: 50%;
          box-shadow: 0px 2px 7px 0px rgba(5, 21, 48, 0.25) !important;
        }
        &:first-child {
          border-top: 1px solid #cecfd6;
        }
        &:nth-of-type(even) {
          background-color: rgba(0, 0, 0, .05);
        }
        &:hover {
          background-color: rgba(198, 217, 245, 0.1);
          border-top: 1px solid #c6d9f5 !important;
          border-bottom: 1px solid #c6d9f5;
          .btn-wrap {
            visibility: visible;
          }
        }
      }

      .long-input {
        min-width: 290px !important;
      }
    }
  }
}