.order_detail-page {

  .order-block {
    padding-bottom: 100px;
  }

  .order-wrap {
    margin-top: 50px;
    padding: 30px 50px;
    background-color: #fff;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 10px 30px 0px rgba(0, 33, 99, 0.1);

    .order-title {
      font-size: 30px;
      margin-top: 10px;
    }
    .card-detail-img {
      width: 235px;
      height: 155px;
      margin-bottom: 30px;
      margin-top: 30px;
      border-radius: 10px;
      box-shadow: 0px 2px 7px 0px rgba(5, 21, 48, 0.25) !important;
    }
    .order-table {
      margin-top: 35px;
      margin-bottom: 25px;
    }
    .table {
      tr {
        border-top: 1px solid transparent;
        margin-bottom: 1px;
        &:nth-of-type(even) {
          background-color: rgba(0, 0, 0, .05);
        }
        &:nth-of-type(odd) {
          background-color: transparent;
        }
        &:last-child {
          border-bottom: 1px solid transparent;
        }
        &:hover {
          background-color: rgba(198, 217, 245, 0.1);
          border-top: 1px solid #c6d9f5 !important;
          border-bottom: 1px solid #c6d9f5;
        }
      }
      th, td {
        border: none !important;
      }
      th {
        color: #96a0b1;
        font-size: 14px;
        font-weight: 300;
        white-space: nowrap;
      }
      td {
        font-size: 14px;
      }
      .dot-icon {
        height: 13px;
        width: 13px;
        vertical-align: text-top;
      }
    }
    .btn {
      padding: 10px 35px;
      font-size: 14px;
      &.red {
        margin-left: 10px;
      }
    }
  }

  .history-wrap {
    margin-top: 50px;
    padding: 30px 40px;
    background-color: #fff;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 10px 30px 0px rgba(0, 33, 99, 0.1);

    .history-title {
      font-size: 24px;
      margin-top: 10px;
    }
    .btn.blue {
      padding: 10px 16px;
      margin-top: 20px;
      font-size: 14px;
      float: right;
    }
    .table-responsive {
      margin-top: 10px;
    }
    .table {
      td, th {
        border-top: none;
      }
      thead th {
        font-size: 14px;
        font-weight: normal;
        color: #333;
        border-bottom: 0px solid #cecfd6;
        border-top: 1px solid #cecfd6;
        background-color: #f2f3f5;
        vertical-align: top;
        white-space: nowrap;
        &::before {
          content: "\2193\2191";
          display: inline;
          float: right;
        }
      }
      tbody td {
        font-size: 14px;
        vertical-align: middle;
      }
      tbody tr {
        border-top: 1px solid transparent;
        border-bottom: none;
        .imgLiquid {
          height: 30px;
          width: 30px;
          border-radius: 50%;
          box-shadow: 0px 2px 7px 0px rgba(5, 21, 48, 0.25) !important;
        }
        &:first-child {
          border-top: 1px solid #cecfd6;
        }
        &:nth-of-type(even) {
          background-color: rgba(0, 0, 0, .05);
        }
        &:hover {
          background-color: rgba(198, 217, 245, 0.1);
          border-top: 1px solid #c6d9f5 !important;
          border-bottom: 1px solid #c6d9f5;
          .btn-wrap {
            visibility: visible;
          }
        }
      }

      .select-filter {
        .bootstrap-select {
          min-width: 155px !important;
        }
      }
    }
  }

  .statusModal {
    .modal-dialog {
      max-width: 560px;
    }
    .modal-footer {
      .btn {
        padding: 0 50px;
        &.white {
          border: 2px solid #4481eb !important;
          margin-right: 20px;
        }
        &.blue {
          margin-top: 0;
        }
      }
    }
  }

  .deleteModal {
    .modal-dialog {
      max-width: 670px;
    }
    .modal-title {
      text-align: center;
    }
    .modal-footer {
      .btn {
        padding: 0 45px !important;
        margin-top: 0;
        margin-left: 0;
        height: 40px;
        font-size: 18px;
        transition: none;
        &.white {
          border: 2px solid #4481eb !important;
          margin-right: 20px;
        }
      }
    }
  }

}