.search-page {

  .title {
    text-align: center;
    font-size: 32px;
    font-weight: normal;
    padding-top: 22px;
  }
  .sub {
    padding-top: 28px;
    margin-bottom: 0;
    text-align: center;
    font-size: 15px;
    color: #9dabc4;
  }

  .search-block {
    .search-wrap {
      .input-group {
        justify-content: center;
      }
      input {
        padding: 10px 50px;
        height: 60px;
        width: auto;
        max-width: 523px;
        font-size: 30px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        color: #4481eb;

        &::-webkit-input-placeholder {
          color: #e2e3e7;
        }
      }
      button {
        font-size: 30px;
        height: 60px;
        background: linear-gradient(#23b1f8, #4482eb) !important;
        color: white !important;
        padding: 0 30px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        &:hover {
          background: linear-gradient(#4c8af2, #3860c1) !important;
        }
        &:active {
          box-shadow: inset 0px 0px 15px 2px rgba(0, 0, 0, 0.2) !important;
        }
        .imgLiquid {
          width: 30px;
          height: 100%;
        }
      }
    }
  }

  .error-block {
    animation: fadeInUp .5s ease both;
    .error-wrap {
      margin-top: 45px;
      padding: 20px 30px;
      border: 2px solid #d62b33;
      border-radius: 30px;
      background-color: #fff;
      color: #d62b33;
      text-align: center;
      .error-title {
        font-size: 30px;
        margin-bottom: 3px;
      }
      .error-sub {
        font-size: 18px;
        margin-bottom: 0;
      }
    }
  }

  .card-block {
    padding-bottom: 100px;
    animation: fadeInUp .5s ease both;
    .card-wrap {
      margin-top: 45px;
      padding: 28px 35px;
      border: none;
      border-radius: 30px;
      background-color: #fff;
      box-shadow: 0px 10px 30px 0px rgba(0, 33, 99, 0.1);
      .card-table-img {
        margin-bottom: 0px;
        width: 235px;
        height: 155px;
        border-radius: 10px;
        box-shadow: 0px 2px 7px 0px rgba(5, 21, 48, 0.25) !important;
      }
      .table-responsive {
        margin-top: 15px;
        min-height: 100px;
        .table {
          td, th {
            border-top: none;
          }
          thead {
            border-bottom: 2px dashed #96a0b1;
          }
          thead th {
            padding-bottom: 18px;
            border-bottom: none;
            color: #96a0b1;
            font-weight: normal;
            font-size: 18px;
            white-space: nowrap;
          }
          tbody td {
            padding-top: 26px;
            font-size: 18px;
            white-space: nowrap;
          }
        }
      }
    }
  }
}