block head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no')
  meta(name='description', content='')
  meta(name='keywords', content='')
  link(rel='shortcut icon', type='image/x-icon', href='img/global/favicon.ico')
  link(rel='apple-touch-icon', href='img/global/favicon.ico')

  //- site title goes here
  title Test

  //- css
  link(rel='stylesheet', type='text/css', href='css/bootstrap.min.css')
  link(rel='stylesheet', type='text/css', href='css/open-iconic-bootstrap.min.css')
  link(rel='stylesheet', type='text/css', href='css/main.css')
  link(rel='stylesheet', type='text/css', href='css/animate.min.css')
  link(rel='stylesheet', type='text/css', href='css/perfect-scrollbar.css')