doctype html
html(lang='ru')
  head
    include head

  body
    #preloader
      .preload-wrap
        .obj.obj-1
        .obj.obj-2
        .obj.obj-3
        .obj.obj-4

    include header
    block content
    include footer

    include scripts
    script(type='text/javascript', src='js/main.js')
    script(type='text/javascript', src='js/custom.js')