extends components/layout

append head
  link(rel='stylesheet', type='text/css', href='css/bootstrap-datepicker3.min.css')
  link(rel='stylesheet', type='text/css', href='css/bootstrap-select.min.css')
append scripts
  script(type='text/javascript', src='js/bootstrap-datepicker.min.js')
  script(type='text/javascript', src='js/bootstrap-datepicker.ru.min.js')
  script(type='text/javascript', src='js/bootstrap-select.min.js')
  script(type='text/javascript', src='js/defaults-ru_RU.min.js')

block content
  main.admin_list-page
    .container-fluid
      .search-block
        .row
          .col-xl-auto.col-lg-12
            h2.title
              | Пользователи
          .col-xl-4.col-lg-5.col-12
            .search-wrap
              .input-group
                input.form-control(type='text', placeholder="Быстрый поиск...")
                .input-group-append
                  button.btn.btn-outline-secondary(type='button')
                    .img-no-fill.imgLiquid
                      img(src='img/index/search_icon_L.png')
          .col-lg.col-12
            .btn-wrap.d-flex.justify-content-end
              button.btn.blue(type="button", data-toggle='modal', data-target='.newModal') Новый пользователь
              button.btn.white(type="button", data-toggle='modal', data-target='.importModal') Импорт из файла

              .newModal.modal.fade(tabindex='-1', role='dialog')
                .modal-dialog.modal-dialog-centered(role='document')
                  .modal-content
                    form
                      button.close(type='button', data-dismiss='modal', aria-label='Close')
                        | Закрыть
                        svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 640 480', enable-background='new 0 0 640 480', xml:space='preserve')
                          g
                            g
                              path(fill='', d='M554.3,5.7c-7.6-7.6-19.8-7.6-27.4,0L85.7,446.9c-7.6,7.6-7.6,19.8,0,27.4c3.8,3.8,8.7,5.7,13.7,5.7\
                                                          s9.9-1.9,13.7-5.7L554.3,33.1C561.9,25.5,561.9,13.3,554.3,5.7z')
                          g
                            g
                              path(fill='', d='M554.3,446.9L113.1,5.7c-7.6-7.6-19.8-7.6-27.4,0c-7.6,7.6-7.6,19.8,0,27.4l441.2,441.2\
                                                          c3.8,3.8,8.7,5.7,13.7,5.7c5,0,9.9-1.9,13.7-5.7C561.9,466.7,561.9,454.5,554.3,446.9z')

                        .img-fill.imgLiquid
                          img(src='img/index/modal_close_black.png')
                      .modal-header
                        h5.modal-title
                          | Добавление нового пользователя
                      .modal-body
                        .container-fluid
                          .row
                            .col-lg-6
                              .row
                                .col-12
                                  .form-group
                                    label.col-form-label Фамилия
                                    input.form-control(type='text', placeholder="", value="", required)
                                .col-12
                                  .form-group
                                    label.col-form-label Имя
                                    input.form-control(type='text', placeholder="", value="", required)
                                .col-12
                                  .form-group
                                    label.col-form-label Отчество
                                    input.form-control(type='text', placeholder="", value="", required)
                                .col-12
                                  .form-group
                                    label.col-form-label Роль
                                    .select-filter
                                      select.selectpicker
                                        option Не выбрано
                                        option Роль 1
                                        option Роль 2
                                        option Роль 000
                                .col-12
                                  .form-group
                                    label.col-form-label Функции
                                    .select-filter
                                      select.selectpicker
                                        option Не выбрано
                                        option Функция 1
                                        option Функция 2
                                        option Функция 000
                                .col-12
                                  .form-group
                                    label.col-form-label Статус
                                    .select-filter
                                      select.selectpicker
                                        option Не выбрано
                                        option Статус 1
                                        option Статус 2
                                        option Статус 000
                                .col-12
                                  .form-group
                                    label.col-form-label Группа
                                    .select-filter
                                      select.selectpicker
                                        option Не выбрано
                                        option Группа 1
                                        option Группа 2
                                        option Группа 000
                            .col-lg-6
                              .row
                                .col-12
                                  .form-group
                                    label.col-form-label Имя пользователя (логин)
                                    input.form-control(type='text', placeholder="", value="", required)
                                .col-12
                                  .form-group
                                    label.col-form-label Пароль
                                    input.form-control(type='password', placeholder="", value="", required)
                                .col-12
                                  .form-group
                                    label.col-form-label Повторите пароль
                                    input.form-control(type='password', placeholder="", value="", required)
                                .col-12
                                  .form-group
                                    .checkbox.custom-control.custom-checkbox
                                      input.custom-control-input(type='checkbox', required)
                                      label.custom-control-label
                                        | Изменить пароль при следующем входе в систему
                      .modal-footer
                        button.btn.white(type='button', data-dismiss="modal") Отмена
                        button.btn.blue(type='button') Создать

              .importModal.modal.fade(tabindex='-1', role='dialog')
                .modal-dialog.modal-dialog-centered(role='document')
                  .modal-content
                    form
                      button.close(type='button', data-dismiss='modal', aria-label='Close')
                        | Закрыть
                        svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 640 480', enable-background='new 0 0 640 480', xml:space='preserve')
                          g
                            g
                              path(fill='', d='M554.3,5.7c-7.6-7.6-19.8-7.6-27.4,0L85.7,446.9c-7.6,7.6-7.6,19.8,0,27.4c3.8,3.8,8.7,5.7,13.7,5.7\
                                                                    s9.9-1.9,13.7-5.7L554.3,33.1C561.9,25.5,561.9,13.3,554.3,5.7z')
                          g
                            g
                              path(fill='', d='M554.3,446.9L113.1,5.7c-7.6-7.6-19.8-7.6-27.4,0c-7.6,7.6-7.6,19.8,0,27.4l441.2,441.2\
                                                                    c3.8,3.8,8.7,5.7,13.7,5.7c5,0,9.9-1.9,13.7-5.7C561.9,466.7,561.9,454.5,554.3,446.9z')

                        .img-fill.imgLiquid
                          img(src='img/index/modal_close_black.png')
                      .modal-header
                        h5.modal-title
                          | Импорт пользователей из файла
                      .modal-body
                        .container-fluid
                          .row
                            .col-12
                              .form-group
                                .file-filter
                                  .text
                                    | Укажите файл с реестром для загрузки
                                  .custom-file
                                    input.custom-file-input(type='file', required='')
                                    label.custom-file-label Выберите файл...
                                    .invalid-feedback Ошибка! Выберите другой файл
                      .modal-footer
                        button.btn.white(type='button', data-dismiss="modal") Отмена
                        button.btn.blue(type='button') Загрузить

      .table-block#table-block
        .row
          .table-responsive
            table.table.table-hover
              thead
                tr
                  th(scope='col') Логин
                    .text-filer
                      .input-group
                        input.form-control.search(type='text', placeholder="", value='')
                        button
                  th(scope='col') Фамилия
                    .text-filer
                      .input-group
                        input.form-control.search(type='text', placeholder="", value='')
                        button
                  th(scope='col') Имя
                    .text-filer
                      .input-group
                        input.form-control.search(type='text', placeholder="", value='')
                        button
                  th(scope='col') Отчество
                    .text-filer
                      .input-group
                        input.form-control.search(type='text', placeholder="", value='')
                        button
                  th(scope='col') Роль
                    .text-filer
                      .input-group
                        input.form-control.search(type='text', placeholder="", value='')
                        button
                  th(scope='col') Функции
                    .select-filter
                      select.selectpicker
                        option Не выбрано
                        option Активация карт
                        option Получение заказов
                        option Деактивация карт
                  th(scope='col') Статус
                    .select-filter
                      select.selectpicker
                        option Не выбрано
                        option Статус 1
                        option Статус 2
                        option Статус 4
                        option Статус 25
                        option Статус 000

                  th(scope='col') Группа
                    .select-filter
                      select.selectpicker
                        option Не выбрано
                        option Группа 1
                        option Группа 2
                        option Группа 4
                        option Группа 25
                        option Группа 000

                  th(scope='col') Последнее обновление
                    .date-filter
                      .input-group.date
                        input.form-control.search(type='text', placeholder='Дата')
                        button(type="button").input-group-addon
                          svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='17', height='17', viewbox='0 0 17 17')
                            g
                            path(d='M14 2v-1h-3v1h-5v-1h-3v1h-3v15h17v-15h-3zM12 2h1v2h-1v-2zM4 2h1v2h-1v-2zM16 16h-15v-8.921h15v8.921zM1 6.079v-3.079h2v2h3v-2h5v2h3v-2h2v3.079h-15z')
                  th(scope='col') Последний вход
                    .date-filter
                      .input-group.date
                        input.form-control.search(type='text', placeholder='Дата')
                        button(type="button").input-group-addon
                          svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='17', height='17', viewbox='0 0 17 17')
                            g
                            path(d='M14 2v-1h-3v1h-5v-1h-3v1h-3v15h17v-15h-3zM12 2h1v2h-1v-2zM4 2h1v2h-1v-2zM16 16h-15v-8.921h15v8.921zM1 6.079v-3.079h2v2h3v-2h5v2h3v-2h2v3.079h-15z')
                  th(scope='col') Дата блокировки
                    .date-filter
                      .input-group.date
                        input.form-control.search(type='text', placeholder='Дата')
                        button(type="button").input-group-addon
                          svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='17', height='17', viewbox='0 0 17 17')
                            g
                            path(d='M14 2v-1h-3v1h-5v-1h-3v1h-3v15h17v-15h-3zM12 2h1v2h-1v-2zM4 2h1v2h-1v-2zM16 16h-15v-8.921h15v8.921zM1 6.079v-3.079h2v2h3v-2h5v2h3v-2h2v3.079h-15z')
                  th.no-arr(scope='col') Действия
              tbody.list
                tr
                  td user_1
                  td Пупкин
                  td Василий
                  td Васильевич
                  td Маркетинг
                  td Активация карт
                  td
                    .dot-icon.blue
                    | Статус 1
                  td Группа 000
                  td
                    | 22.01.2018 20:02
                  td
                    | 22.01.2018 20:02
                  td
                    | 22.01.2018 20:02
                  td
                    .btn-wrap
                      a.btn-table.btn-edit(data-toggle='modal', data-target='.editModal')
                        span.oi.oi-pencil(title='Редактировать пользователя', aria-hidden='true')
                      a.btn-table.btn-ban(data-toggle='modal', data-target='.blockModal')
                        span.oi.oi-ban(title='Заблокировать пользователя', aria-hidden='true')
                      a.btn-table.btn-del(data-toggle='modal', data-target='.deleteModal')
                        span.oi.oi-trash(title='Удалить пользователя', aria-hidden='true')

                      .deleteInfoModal.modal.fade(tabindex='-1', role='dialog')
                        .modal-dialog.modal-dialog-centered(role='document')
                          .modal-content
                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                              | Закрыть
                              svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 640 480', enable-background='new 0 0 640 480', xml:space='preserve')
                                g
                                  g
                                    path(fill='', d='M554.3,5.7c-7.6-7.6-19.8-7.6-27.4,0L85.7,446.9c-7.6,7.6-7.6,19.8,0,27.4c3.8,3.8,8.7,5.7,13.7,5.7\
                                                                                                                        s9.9-1.9,13.7-5.7L554.3,33.1C561.9,25.5,561.9,13.3,554.3,5.7z')
                                g
                                  g
                                    path(fill='', d='M554.3,446.9L113.1,5.7c-7.6-7.6-19.8-7.6-27.4,0c-7.6,7.6-7.6,19.8,0,27.4l441.2,441.2\
                                                                                                                        c3.8,3.8,8.7,5.7,13.7,5.7c5,0,9.9-1.9,13.7-5.7C561.9,466.7,561.9,454.5,554.3,446.9z')
                            .modal-header
                              h5.modal-title
                                | Невозможно удалить запись.
                            .modal-body
                              p.modal-text
                                | Cуществуют ссылки на учетную запись в других таблицах. Возможна только блокировка пользователя.
                            .modal-footer
                              button.btn.blue(type='button', data-dismiss="modal") ОК

                      .deleteModal.modal.fade(tabindex='-1', role='dialog')
                        .modal-dialog.modal-dialog-centered(role='document')
                          .modal-content
                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                              | Закрыть
                              svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 640 480', enable-background='new 0 0 640 480', xml:space='preserve')
                                g
                                  g
                                    path(fill='', d='M554.3,5.7c-7.6-7.6-19.8-7.6-27.4,0L85.7,446.9c-7.6,7.6-7.6,19.8,0,27.4c3.8,3.8,8.7,5.7,13.7,5.7\
                                                                                                                                              s9.9-1.9,13.7-5.7L554.3,33.1C561.9,25.5,561.9,13.3,554.3,5.7z')
                                g
                                  g
                                    path(fill='', d='M554.3,446.9L113.1,5.7c-7.6-7.6-19.8-7.6-27.4,0c-7.6,7.6-7.6,19.8,0,27.4l441.2,441.2\
                                                                                                                                              c3.8,3.8,8.7,5.7,13.7,5.7c5,0,9.9-1.9,13.7-5.7C561.9,466.7,561.9,454.5,554.3,446.9z')
                            .modal-header
                              h5.modal-title
                                | Вы действительно хотите
                                br
                                | удалить пользователя USER_1?
                            .modal-footer
                              button.btn.white(type='button', data-dismiss="modal") Отмена
                              button.btn.blue(type='button', data-dismiss="modal") Удалить
                      .blockModal.modal.fade(tabindex='-1', role='dialog')
                        .modal-dialog.modal-dialog-centered(role='document')
                          .modal-content
                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                              | Закрыть
                              svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 640 480', enable-background='new 0 0 640 480', xml:space='preserve')
                                g
                                  g
                                    path(fill='', d='M554.3,5.7c-7.6-7.6-19.8-7.6-27.4,0L85.7,446.9c-7.6,7.6-7.6,19.8,0,27.4c3.8,3.8,8.7,5.7,13.7,5.7\
                                                                                                                                                                    s9.9-1.9,13.7-5.7L554.3,33.1C561.9,25.5,561.9,13.3,554.3,5.7z')
                                g
                                  g
                                    path(fill='', d='M554.3,446.9L113.1,5.7c-7.6-7.6-19.8-7.6-27.4,0c-7.6,7.6-7.6,19.8,0,27.4l441.2,441.2\
                                                                                                                                                                    c3.8,3.8,8.7,5.7,13.7,5.7c5,0,9.9-1.9,13.7-5.7C561.9,466.7,561.9,454.5,554.3,446.9z')
                            .modal-header
                              h5.modal-title
                                | Вы действительно хотите
                                br
                                | заблокировать пользователя USER_1?
                            .modal-footer
                              button.btn.white(type='button', data-dismiss="modal") Отмена
                              button.btn.blue(type='button', data-dismiss="modal") Заблокировать
                      .editModal.modal.fade(tabindex='-1', role='dialog')
                        .modal-dialog.modal-dialog-centered(role='document')
                          .modal-content
                            form
                              button.close(type='button', data-dismiss='modal', aria-label='Close')
                                | Закрыть
                                svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 640 480', enable-background='new 0 0 640 480', xml:space='preserve')
                                  g
                                    g
                                      path(fill='', d='M554.3,5.7c-7.6-7.6-19.8-7.6-27.4,0L85.7,446.9c-7.6,7.6-7.6,19.8,0,27.4c3.8,3.8,8.7,5.7,13.7,5.7\
                                                                                                                      s9.9-1.9,13.7-5.7L554.3,33.1C561.9,25.5,561.9,13.3,554.3,5.7z')
                                  g
                                    g
                                      path(fill='', d='M554.3,446.9L113.1,5.7c-7.6-7.6-19.8-7.6-27.4,0c-7.6,7.6-7.6,19.8,0,27.4l441.2,441.2\
                                                                                                                      c3.8,3.8,8.7,5.7,13.7,5.7c5,0,9.9-1.9,13.7-5.7C561.9,466.7,561.9,454.5,554.3,446.9z')
                              .modal-header
                                h5.modal-title
                                  | Редактирование данных пользователя
                              .modal-body
                                .container-fluid
                                  .row
                                    .col-lg-6
                                      .row
                                        .col-12
                                          .form-group
                                            label.col-form-label Фамилия
                                            input.form-control(type='text', placeholder="", value="", required)
                                        .col-12
                                          .form-group
                                            label.col-form-label Имя
                                            input.form-control(type='text', placeholder="", value="", required)
                                        .col-12
                                          .form-group
                                            label.col-form-label Отчество
                                            input.form-control(type='text', placeholder="", value="", required)
                                        .col-12
                                          .form-group
                                            label.col-form-label Роль
                                            .select-filter
                                              select.selectpicker
                                                option Не выбрано
                                                option Роль 1
                                                option Роль 2
                                                option Роль 000
                                        .col-12
                                          .form-group
                                            label.col-form-label Функции
                                            .select-filter
                                              select.selectpicker
                                                option Не выбрано
                                                option Функция 1
                                                option Функция 2
                                                option Функция 000
                                        .col-12
                                          .form-group
                                            label.col-form-label Статус
                                            .select-filter
                                              select.selectpicker
                                                option Не выбрано
                                                option Статус 1
                                                option Статус 2
                                                option Статус 000
                                        .col-12
                                          .form-group
                                            label.col-form-label Группа
                                            .select-filter
                                              select.selectpicker
                                                option Не выбрано
                                                option Группа 1
                                                option Группа 2
                                                option Группа 000
                                    .col-lg-6
                                      .row
                                        .col-12
                                          .form-group
                                            label.col-form-label Имя пользователя (логин)
                                            input.form-control(type='text', placeholder="", value="", required)
                                        .col-12
                                          .form-group
                                            label.col-form-label Пароль
                                            input.form-control(type='password', placeholder="", value="", required)
                                        .col-12
                                          .form-group
                                            label.col-form-label Повторите пароль
                                            input.form-control(type='password', placeholder="", value="", required)
                                        .col-12
                                          .form-group
                                            .checkbox.custom-control.custom-checkbox
                                              input.custom-control-input(type='checkbox', required)
                                              label.custom-control-label
                                                | Изменить пароль при следующем входе в систему
                              .modal-footer
                                button.btn.white(type='button', data-dismiss="modal") Отмена
                                button.btn.blue(type='button') Сохранить
                tr
                  td user_1
                  td Пупкин
                  td Василий
                  td Васильевич
                  td Маркетинг
                  td Активация карт
                  td
                    .dot-icon.blue
                    | Статус 1
                  td Группа 000
                  td
                    | 22.01.2018 20:02
                  td
                    | 22.01.2018 20:02
                  td
                    | 22.01.2018 20:02
                  td
                    .btn-wrap
                      a.btn-table.btn-edit(data-toggle='modal', data-target='.editModal')
                        span.oi.oi-pencil(title='Редактировать пользователя', aria-hidden='true')
                      a.btn-table.btn-ban(data-toggle='modal', data-target='.blockModal')
                        span.oi.oi-ban(title='Заблокировать пользователя', aria-hidden='true')
                      a.btn-table.btn-del(data-toggle='modal', data-target='.deleteInfoModal')
                        span.oi.oi-trash(title='Удалить пользователя', aria-hidden='true')
      .pagination-block
        ul.pagination
          li.page-item.disabled
            a.page-link(href='#')
              i.oi.oi-media-skip-backward
          li.page-item.disabled
            a.page-link(href='#')
              i.oi.oi-media-step-backward
              | &nbsp;Предыдущая
          li.page-item.active
            a.page-link(href='#') 1
          li.page-item
            a.page-link(href='#') 2
          li.page-item
            a.page-link(href='#') 3
          li.page-item
            a.page-link(href='#')
              | Следующая&nbsp;
              i.oi.oi-media-step-forward
          li.page-item.last
            a.page-link(href='#')
              i.oi.oi-media-skip-forward






