extends components/layout

block header
  header.index-page
    nav.navbar.navbar-light
      a.navbar-brand(href='index.html')
        .pic-logo.img-wrap
          img(src="img/index/logo.png", alt="Logo")

      .navbar-wrap#headerNavbar.justify-content-end
        .navbar-nav
          button.btn.btn-primary.btn-in(type="button", data-toggle='modal', data-target='.loginModal')
            svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='-63 -16 512 512', enable-background='new -63 -16 512 512', xml:space='preserve')
              path(fill='', d='M346.7,350l-81.5-40.8c-7.7-3.8-12.5-11.6-12.5-20.2v-28.9c2-2.4,4-5.1,6.1-8.1c10.6-14.9,19-31.6,25.2-49.5\
              c12-5.5,19.9-17.4,19.9-30.9v-34.1c0-8.2-3.1-16.2-8.5-22.4V69.8c0.5-4.7,2.4-32.6-17.9-55.7C260-5.9,231.6-16,193-16\
              s-67,10.1-84.5,30.1c-20.2,23-18.3,51-17.9,55.7v45.4c-5.5,6.2-8.5,14.2-8.5,22.4v34.1c0,10.4,4.7,20.1,12.8,26.5\
              c7.8,31,24.2,54.3,29.9,61.8v28.2c0,8.3-4.5,15.8-11.8,19.8l-76.1,41.5C12.1,363.1-3.3,389-3.3,417.2v27.6\
              c0,40.5,128.4,51.2,196.3,51.2s196.3-10.7,196.3-51.2v-26C389.3,389.5,373,363.1,346.7,350z M372.2,444.8\
              c0,11.6-63.2,34.1-179.2,34.1S13.8,456.4,13.8,444.8v-27.6c0-21.9,12-42.1,31.2-52.6l76.1-41.5c12.7-7,20.7-20.3,20.7-34.8V254\
              l-2-2.4c-0.2-0.2-21.1-25.5-29.1-60.3l-0.8-3.4L107,186c-4.9-3.2-7.9-8.5-7.9-14.3v-34.1c0-4.8,2-9.3,5.7-12.6l2.8-2.5V69.3\
              l-0.1-1.1c0-0.2-2.9-23.9,13.7-42.8C135.4,9.2,159.6,1.1,193,1.1c33.3,0,57.4,8.1,71.6,24.1c16.6,18.8,13.9,42.8,13.8,43l-0.1,54.3\
              l2.8,2.5c3.7,3.3,5.7,7.8,5.7,12.6v34.1c0,7.4-4.9,14-12.1,16.2l-4.2,1.3l-1.4,4.2c-5.7,17.8-13.8,34.2-24.2,48.8\
              c-2.5,3.6-5,6.8-7.1,9.2l-2.1,2.4V289c0,15.1,8.4,28.7,21.9,35.4l81.5,40.8c20.4,10.2,33.1,30.7,33.1,53.6V444.8z')
            | Вход в систему
          .loginModal.modal.fade(tabindex='-1', role='dialog')
            .modal-dialog.modal-dialog-centered(role='document')
              .modal-content
                form
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                    | Закрыть
                    svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 640 480', enable-background='new 0 0 640 480', xml:space='preserve')
                      g
                        g
                          path(fill='', d='M554.3,5.7c-7.6-7.6-19.8-7.6-27.4,0L85.7,446.9c-7.6,7.6-7.6,19.8,0,27.4c3.8,3.8,8.7,5.7,13.7,5.7\
                          s9.9-1.9,13.7-5.7L554.3,33.1C561.9,25.5,561.9,13.3,554.3,5.7z')
                      g
                        g
                          path(fill='', d='M554.3,446.9L113.1,5.7c-7.6-7.6-19.8-7.6-27.4,0c-7.6,7.6-7.6,19.8,0,27.4l441.2,441.2\
                          c3.8,3.8,8.7,5.7,13.7,5.7c5,0,9.9-1.9,13.7-5.7C561.9,466.7,561.9,454.5,554.3,446.9z')
                  .modal-header
                    h5.modal-title Вход в систему
                  .modal-body
                    .modal-logo-input
                      .img-wrap
                        img(src="img/index/logo.png", alt="Logo")
                    .input-wrap
                      input#loginName.form-control(type='name', placeholder='Логин')
                    .input-wrap
                      input#loginPass.form-control(type='password', placeholder='Пароль')
                  .modal-footer
                    button.btn.blue(type='button') Войти

block content
  main.index-page
    .container
      h2.title
        | Поиск карты
      p.sub
        | Введите номер карты

      .search-block
        .row.justify-content-center
          .col-xl-8.col-lg-10
            .search-wrap
              .input-group
                input.form-control#search-card-input(type='text', placeholder="--- ----- -----------")
                .input-group-append
                  button.btn.btn-outline-secondary(type='button')
                    .img-no-fill.imgLiquid
                      img(src='img/index/search_icon_L.png')

      .error-block
        .row.justify-content-center
          .col-xl-8.col-lg-10
            .error-wrap
              h4.error-title
                | Ошибка поиска
              p.error-sub
                | Карта не найдена. Проверьте введенные данные.

      .card-block
        .row.justify-content-center
          .col-xl-11.col-lg-12
            .card-wrap
              .row
                .col-lg-auto
                  .card-table-img.img-no-fill.imgLiquid
                    img(src='img/index/card_L_1.png')

                .col
                  .table-responsive
                    table.table.table-hover
                      thead
                        tr
                          th(scope='col') Номер карты
                          th(scope='col') Баланс
                          th(scope='col') Статус
                          th(scope='col') Дата активации
                          th(scope='col') № заявки
                      tbody
                        tr
                          td.card-num 123 32123 33333334567
                          td.card-money 5000
                          td
                            .dot-icon.green
                            | Активная
                          td 10.12.2017 22:02
                          td
                            .table-link 12345



