extends components/layout

block content
  main.new_operations-page
    .container-fluid
      .operations-block
        .row.justify-content-center
          .col-12
            .operations-wrap
              .row
                .col-12
                  h2.operations-title
                    | Пополнение
                    br
                    | балансов
                .col-12
                  .wizard-wrap
                    .wizard-img-wrap
                      .img-no-fill.imgLiquid.wizard-img
                        img(src='img/index/stepper_active_1.png')
                    .wizard-text.pr
                      | Загрузка реестра
                    .wizard-img-wrap
                      .img-no-fill.imgLiquid.wizard-img
                        img(src='img/index/stepper_off_2.png')
                    .wizard-text.grey
                      | Проверка и обработка реестра
                .col-12
                  p.text-label
                    | Укажите файл с реестром для загрузки
                  .file-filter
                    .custom-file
                      input.custom-file-input(type='file', required='')
                      label.custom-file-label Выберите файл...
                      .invalid-feedback Ошибка! Выберите другой файл
                .col-12
                  .row.justify-content-end
                    .col-auto
                      .btn.white Отмена
                      .btn.blue Заказать

      .upload-block
        .row.justify-content-center
          .col-12
            .upload-wrap
              h2.upload-title
                | Пополнение
                br
                | балансов
              .row
                .col-12
                  .wizard-wrap
                    .wizard-img-wrap
                      .img-no-fill.imgLiquid.wizard-img
                        img(src='img/index/stepper_done.png')
                    .wizard-text.pr
                      | Загрузка реестра
                    .wizard-img-wrap
                      .img-no-fill.imgLiquid.wizard-img
                        img(src='img/index/stepper_active_2.png')
                    .wizard-text.pl
                      | Проверка и обработка реестра
                .col-lg-4
                  .info-text Карт в реестре:
                  .info-num.info-num-1 99999
                  .info-text Общая сумма пополнений:
                  .info-num.info-num-2 999999999
                .col-lg-8
                  .input-group.comment
                    textarea.form-control( placeholder='Комментарий', rows="7")
                .col-12
                  .row.justify-content-end
                    .col-auto
                      a.btn.grey(href="new_operations.html") Вернуться
                      .btn.blue(data-toggle='modal', data-target='.newOperationsModal') Обработать

                      .newOperationsModal.modal.fade(tabindex='-1', role='dialog')
                        .modal-dialog.modal-dialog-centered(role='document')
                          .modal-content
                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                              | Закрыть
                              svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 640 480', enable-background='new 0 0 640 480', xml:space='preserve')
                                g
                                  g
                                    path(fill='', d='M554.3,5.7c-7.6-7.6-19.8-7.6-27.4,0L85.7,446.9c-7.6,7.6-7.6,19.8,0,27.4c3.8,3.8,8.7,5.7,13.7,5.7\
                                                                                              s9.9-1.9,13.7-5.7L554.3,33.1C561.9,25.5,561.9,13.3,554.3,5.7z')
                                g
                                  g
                                    path(fill='', d='M554.3,446.9L113.1,5.7c-7.6-7.6-19.8-7.6-27.4,0c-7.6,7.6-7.6,19.8,0,27.4l441.2,441.2\
                                                                                              c3.8,3.8,8.7,5.7,13.7,5.7c5,0,9.9-1.9,13.7-5.7C561.9,466.7,561.9,454.5,554.3,446.9z')
                            .modal-header
                              h5.modal-title Реестр загружен
                            .modal-footer
                              button.btn.blue(type='button', data-dismiss="modal") ОК


