extends components/layout

append head
  link(rel='stylesheet', type='text/css', href='css/bootstrap-select.min.css')
append scripts
  script(type='text/javascript', src='js/bootstrap-select.min.js')
  script(type='text/javascript', src='js/defaults-ru_RU.min.js')

block content
  main.new_order-page
    .container-fluid
      .order-block
        .row.justify-content-center
          .col-12
            .order-wrap
              .row
                .col-lg-5
                  .order-pic-wrap
                    h2.order-title
                      | Заказ
                      br
                      | пакета карт
                    .img-no-fill.imgLiquid.card-img-wrap
                      img(src='img/index/card_L_1.png')
                .col-lg-7
                  .text-label
                    | Код акции
                  .select-filter
                    select.selectpicker
                      option Не выбрано
                      option Карта для сотрудников (Е)
                      option Карта для менеджеров (М)
                      option Карта для менеджеров (М)
                      option Карта для менеджеров (М)
                      option Карта для менеджеров (М)
                  .text-label
                    | Карточный продукт
                  .select-filter
                    select.selectpicker
                      option Продукт 1
                      option Продукт 2
                      option Продукт 3
                  .text-label
                    | Количество
                  .text-filer
                    .input-group
                      input.form-control.search(type='text', placeholder="", value='')
                      button
                  .text-label
                    | Место доставки
                  .select-filter
                    select.selectpicker
                      option SHOP_IVANOVO_1
                      option SHOP_NIZHNY_4
                      option SHOP_SPB_11
                .col-12
                  .row.justify-content-end
                    .col-auto
                      .btn.white Отмена
                      .btn.blue(data-toggle='modal', data-target='.newOrderModal') Заказать

                  .newOrderModal.modal.fade(tabindex='-1', role='dialog')
                    .modal-dialog.modal-dialog-centered(role='document')
                      .modal-content
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                          | Закрыть
                          svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 640 480', enable-background='new 0 0 640 480', xml:space='preserve')
                            g
                              g
                                path(fill='', d='M554.3,5.7c-7.6-7.6-19.8-7.6-27.4,0L85.7,446.9c-7.6,7.6-7.6,19.8,0,27.4c3.8,3.8,8.7,5.7,13.7,5.7\
                                                                s9.9-1.9,13.7-5.7L554.3,33.1C561.9,25.5,561.9,13.3,554.3,5.7z')
                            g
                              g
                                path(fill='', d='M554.3,446.9L113.1,5.7c-7.6-7.6-19.8-7.6-27.4,0c-7.6,7.6-7.6,19.8,0,27.4l441.2,441.2\
                                                                c3.8,3.8,8.7,5.7,13.7,5.7c5,0,9.9-1.9,13.7-5.7C561.9,466.7,561.9,454.5,554.3,446.9z')

                          .img-fill.imgLiquid
                            img(src='img/index/modal_close_black.png')
                        .modal-header
                          h5.modal-title Заказ создан
                        .modal-footer
                          button.btn.blue(type='button', data-dismiss="modal") ОК
