extends components/layout

append head
  link(rel='stylesheet', type='text/css', href='css/bootstrap-datepicker3.min.css')
  link(rel='stylesheet', type='text/css', href='css/bootstrap-select.min.css')
append scripts
  script(type='text/javascript', src='js/bootstrap-datepicker.min.js')
  script(type='text/javascript', src='js/bootstrap-datepicker.ru.min.js')
  script(type='text/javascript', src='js/bootstrap-select.min.js')
  script(type='text/javascript', src='js/defaults-ru_RU.min.js')

block content
  main.operations_list-page
    .container-fluid
      .search-block
        .row
          .col-xl-auto.col-lg-12
            h2.title
              | Массовые операции
          .col-xl-4.col-lg-5
            .search-wrap
              .input-group
                input.form-control(type='text', placeholder="Быстрый поиск...")
                .input-group-append
                  button.btn.btn-outline-secondary(type='button')
                    .img-no-fill.imgLiquid
                      img(src='img/index/search_icon_L.png')
          .col-lg.col-12
            .btn-wrap.d-flex.justify-content-end
              a.btn.blue(href="new_operations.html") Пополнение балансов
              button.btn.white(type="button") Обновить данные

      .table-block#table-block
        .row
          .table-responsive
            table.table.table-hover
              thead
                tr
                  th(scope='col') № реестра
                    .text-filer
                      .input-group
                        input.form-control.search(type='text', placeholder="", value='')
                        button
                  th(scope='col') Дата и время
                    .date-filter
                      .input-group.date
                        input.form-control.search(type='text', placeholder='Дата')
                        button(type="button").input-group-addon
                          svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='17', height='17', viewbox='0 0 17 17')
                            g
                            path(d='M14 2v-1h-3v1h-5v-1h-3v1h-3v15h17v-15h-3zM12 2h1v2h-1v-2zM4 2h1v2h-1v-2zM16 16h-15v-8.921h15v8.921zM1 6.079v-3.079h2v2h3v-2h5v2h3v-2h2v3.079h-15z')
                  th(scope='col') Имя файла
                    .text-filer
                      .input-group
                        input.form-control.long-input.search(type='text', placeholder="", value='')
                        button
                  th(scope='col') Сумма
                    .text-filer
                      .input-group
                        input.form-control.search(type='text', placeholder="", value='')
                        button
                  th(scope='col') Статус реестра
                    .select-filter
                      select.selectpicker
                        option Не выбрано
                        option Есть ошибки
                        option Успешно
                  th(scope='col') Кто загрузил
                    .select-filter
                      select.selectpicker
                        option Не выбрано
                        option konstantin_k
                        option malikov_vlad
                        option new_user
                  th(scope='col') Комментарий
                    .text-filer
                      .input-group
                        input.form-control.long-input.search(type='text', placeholder="", value='')
                        button
                  th.no-arr(scope='col') Действия
              tbody
                tr
                  td 2
                  td
                    | 23.01.2018 12:53
                  td card_name_long_text_12_02_2018.csv
                  td 8126
                  td
                    .dot-icon.green
                    | Успешно
                  td User
                  td test
                  td
                    .btn-wrap
                      a.btn-table.btn-edit.btn-detail(href='operations_detail.html')
                        span.oi.oi-info(title='Детали операции', aria-hidden='true')


