extends components/layout

append head
  link(rel='stylesheet', type='text/css', href='css/bootstrap-select.min.css')
append scripts
  script(type='text/javascript', src='js/bootstrap-select.min.js')
  script(type='text/javascript', src='js/defaults-ru_RU.min.js')

block content
  main.operations_detail-page
    .container-fluid
      .operations-block
        .row.justify-content-center
          .col-xl-4.col-lg-9
            .operations-wrap
              h2.operations-title
                | Реестр № 23123168247126
              .row
                .col-12
                  .table-responsive.operations-table
                    table.table.table-hover
                      tbody
                        tr
                          th(scope='row') Статус реестра
                          td
                            .dot-icon.blue
                            | В обработке
                        tr
                          th(scope='row') Дата и время
                          td 10.10.2017 22:02
                        tr
                          th(scope='row') Сумма пополнений
                          td 12323212321
                        tr
                          th(scope='row') Количество карт
                          td 5000
                        tr
                          th(scope='row') Кто загрузил
                          td konstantin_k
                        tr
                          th(scope='row') Комментарий
                          td Комментарий к реестру
                .col-12
                  .row.justify-content-end
                    .col-auto
                      a.btn.grey(href="operations_list.html") Вернуться
                      .btn.red(data-toggle='modal', data-target='.deleteModal') Удалить

                      .deleteModal.modal.fade(tabindex='-1', role='dialog')
                        .modal-dialog.modal-dialog-centered(role='document')
                          .modal-content
                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                              | Закрыть
                              svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 640 480', enable-background='new 0 0 640 480', xml:space='preserve')
                                g
                                  g
                                    path(fill='', d='M554.3,5.7c-7.6-7.6-19.8-7.6-27.4,0L85.7,446.9c-7.6,7.6-7.6,19.8,0,27.4c3.8,3.8,8.7,5.7,13.7,5.7\
                                                                                        s9.9-1.9,13.7-5.7L554.3,33.1C561.9,25.5,561.9,13.3,554.3,5.7z')
                                g
                                  g
                                    path(fill='', d='M554.3,446.9L113.1,5.7c-7.6-7.6-19.8-7.6-27.4,0c-7.6,7.6-7.6,19.8,0,27.4l441.2,441.2\
                                                                                        c3.8,3.8,8.7,5.7,13.7,5.7c5,0,9.9-1.9,13.7-5.7C561.9,466.7,561.9,454.5,554.3,446.9z')
                            .modal-header
                              h5.modal-title Вы точно хотите удалить реестр?
                            .modal-footer
                              button.btn.white(type='button', data-dismiss="modal") Нет
                              button.btn.red(type='button', data-dismiss="modal") Да

          .col-xl-5.col-lg-9
            .history-wrap
              .row
                .col-12
                  .history-title
                    | Данные загруженного файла
                  .history-sub
                    | card_name_long_text_12_02_2018.csv

                .col-12
                  .table-responsive.history-table#history-table
                    table.table.table-hover
                      thead
                        tr
                          th.no-arr(scope='col') №
                          th(scope='col') № карты/счета
                            .text-filer
                              .input-group
                                input.form-control.search(type='text', placeholder="", value='')
                                button
                          th(scope='col') Статус записи
                            .select-filter
                              select.selectpicker
                                option Не выбрано
                                option Успешно
                                option Карта не найдена
                                option Не указана сумма
                          th(scope='col') Сумма
                            .text-filer
                              .input-group
                                input.form-control.search(type='text', placeholder="", value='')
                                button
                      tbody
                        tr
                          td 1
                          td 123 99999 9999999999
                          td
                            .dot-icon.green
                            | Успешно
                          td 99444
                        tr
                          td 2
                          td 999 99999 9999999999
                          td
                            .dot-icon.red
                            | Карта не найдена
                          td 999999
                        tr
                          td 3
                          td 999 99999 4444444499
                          td
                            .dot-icon.green
                            | Успешно
                          td 3323
                        tr
                          td 4
                          td 999 95559 9999923299
                          td
                            .dot-icon.green
                            | Успешно
                          td 99222111
