extends components/layout

append head
  link(rel='stylesheet', type='text/css', href='css/bootstrap-datepicker3.min.css')
  link(rel='stylesheet', type='text/css', href='css/bootstrap-select.min.css')
append scripts
  script(type='text/javascript', src='js/bootstrap-datepicker.min.js')
  script(type='text/javascript', src='js/bootstrap-datepicker.ru.min.js')
  script(type='text/javascript', src='js/bootstrap-select.min.js')
  script(type='text/javascript', src='js/defaults-ru_RU.min.js')

block content
  main.order_detail-page
    .container-fluid
      .order-block
        .row.justify-content-center
          .col-xl-5.col-lg-9
            .order-wrap
              h2.order-title
                | Заказ № 23123168247126
              .row
                .col-xl-auto
                  .img-no-fill.imgLiquid.card-detail-img
                    img(src='img/index/card_L_1.png')
                .col-xl
                  .table-responsive.order-table
                    table.table.table-hover
                      tbody
                        tr
                          th(scope='row') Статус пакета
                          td
                            .dot-icon.blue
                            | В обработке
                        tr
                          th(scope='row') Внешний № пакета
                          td 0000000000000000
                        tr
                          th(scope='row') Код продукта
                          td 01232123747474
                        tr
                          th(scope='row') Канал реализации
                          td Магазин на Мясницкой
                        tr
                          th(scope='row') Количество карт
                          td 5000
                        tr
                          th(scope='row') Кто создал
                          td konstantin_k
                        tr
                          th(scope='row') Дата и время
                          td 10.10.2017 22:02
                        tr
                          th(scope='row') Время обработки
                          td 13д 4ч 23мин
                .col-12
                  .row.justify-content-end
                    .col-auto
                      a.btn.grey(href="order_list.html") Вернуться
                      .btn.red(data-toggle='modal', data-target='.deleteModal') Удалить

                      .deleteModal.modal.fade(tabindex='-1', role='dialog')
                        .modal-dialog.modal-dialog-centered(role='document')
                          .modal-content
                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                              | Закрыть
                              svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 640 480', enable-background='new 0 0 640 480', xml:space='preserve')
                                g
                                  g
                                    path(fill='', d='M554.3,5.7c-7.6-7.6-19.8-7.6-27.4,0L85.7,446.9c-7.6,7.6-7.6,19.8,0,27.4c3.8,3.8,8.7,5.7,13.7,5.7\
                                                                        s9.9-1.9,13.7-5.7L554.3,33.1C561.9,25.5,561.9,13.3,554.3,5.7z')
                                g
                                  g
                                    path(fill='', d='M554.3,446.9L113.1,5.7c-7.6-7.6-19.8-7.6-27.4,0c-7.6,7.6-7.6,19.8,0,27.4l441.2,441.2\
                                                                        c3.8,3.8,8.7,5.7,13.7,5.7c5,0,9.9-1.9,13.7-5.7C561.9,466.7,561.9,454.5,554.3,446.9z')

                            .modal-header
                              h5.modal-title Вы точно хотите удалить заказ?
                            .modal-footer
                              button.btn.white(type='button', data-dismiss="modal") Нет
                              button.btn.red(type='button', data-dismiss="modal") Да
          .col-xl-4.col-lg-9
            .history-wrap
              .row
                .col-xl-7.col-lg-7
                  .history-title
                    | История изменения статусов
                .col-xl.col-lg-5
                  .btn.blue(data-toggle='modal', data-target='.statusModal') Изменить статус

                  .statusModal.modal.fade(tabindex='-1', role='dialog')
                    .modal-dialog.modal-dialog-centered(role='document')
                      .modal-content
                        form
                          button.close(type='button', data-dismiss='modal', aria-label='Close')
                            | Закрыть
                            svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 640 480', enable-background='new 0 0 640 480', xml:space='preserve')
                              g
                                g
                                  path(fill='', d='M554.3,5.7c-7.6-7.6-19.8-7.6-27.4,0L85.7,446.9c-7.6,7.6-7.6,19.8,0,27.4c3.8,3.8,8.7,5.7,13.7,5.7\
                                                                                                 s9.9-1.9,13.7-5.7L554.3,33.1C561.9,25.5,561.9,13.3,554.3,5.7z')
                              g
                                g
                                  path(fill='', d='M554.3,446.9L113.1,5.7c-7.6-7.6-19.8-7.6-27.4,0c-7.6,7.6-7.6,19.8,0,27.4l441.2,441.2\
                                                                                                 c3.8,3.8,8.7,5.7,13.7,5.7c5,0,9.9-1.9,13.7-5.7C561.9,466.7,561.9,454.5,554.3,446.9z')
                          .modal-header
                            h5.modal-title Изменить статус
                          .modal-body
                            .col-12
                              .form-group
                                .select-filter
                                  select.selectpicker
                                    option Не выбрано
                                    option Статус 1
                                    option Статус 2
                                    option Статус 000
                          .modal-footer
                            button.btn.white(type='button', data-dismiss="modal") Отмена
                            button.btn.blue(type='button', data-dismiss="modal") Сохранить
                .col-12
                  .table-responsive.history-table#history-table
                    table.table.table-hover
                      thead
                        tr
                          th(scope='col') Статус
                            .select-filter
                              select.selectpicker
                                option Не выбрано
                                option Выполнен
                                option В обработке
                                option Проблема
                                option Отменен
                          th(scope='col') Дата и время
                            .date-filter
                              .input-group.date
                                input.form-control.search(type='text', placeholder='Дата')
                                button(type="button").input-group-addon
                                  svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='17', height='17', viewbox='0 0 17 17')
                                    g
                                    path(d='M14 2v-1h-3v1h-5v-1h-3v1h-3v15h17v-15h-3zM12 2h1v2h-1v-2zM4 2h1v2h-1v-2zM16 16h-15v-8.921h15v8.921zM1 6.079v-3.079h2v2h3v-2h5v2h3v-2h2v3.079h-15z')
                          th(scope='col') Пользователь
                            .select-filter
                              select.selectpicker
                                option Не выбрано
                                option konstantin_k
                                option malikov_vlad
                                option new_user
                      tbody.list
                        tr
                          td
                            .dot-icon.blue
                            | В обработке
                          td 2018.01.22 20:02
                          td User
                        tr
                          td
                            .dot-icon.red
                            | В обработке
                          td 2018.01.22 20:02
                          td User


