extends components/layout

append head
  link(rel='stylesheet', type='text/css', href='css/bootstrap-datepicker3.min.css')
  link(rel='stylesheet', type='text/css', href='css/bootstrap-select.min.css')
append scripts
  script(type='text/javascript', src='js/bootstrap-datepicker.min.js')
  script(type='text/javascript', src='js/bootstrap-datepicker.ru.min.js')
  script(type='text/javascript', src='js/bootstrap-select.min.js')
  script(type='text/javascript', src='js/defaults-ru_RU.min.js')

block content
  main.order_list-page
    .container-fluid
      .search-block
        .row
          .col-xl-2.col-lg-12
            h2.title
              | Заказы
          .col-xl-4.col-lg-5
            .search-wrap
              .input-group
                input.form-control(type='text', placeholder="Быстрый поиск...")
                .input-group-append
                  button.btn.btn-outline-secondary(type='button')
                    .img-no-fill.imgLiquid
                      img(src='img/index/search_icon_L.png')
          .col-lg.col-12
            .btn-wrap.d-flex.justify-content-end
              a.btn.blue(href="new_order.html") Новый заказ
              button.btn.white(type="button") Обновить данные

      .table-block#table-block
        .row
          .table-responsive
            table.table.table-hover
              thead
                tr
                  th.no-arr(scope='col') Картинка
                  th(scope='col') № заказа
                    .text-filer
                      .input-group
                        input.form-control.search(type='text', placeholder="", value='')
                        button
                  th(scope='col') Внешний № пакета
                    .text-filer
                      .input-group
                        input.form-control.search(type='text', placeholder="", value='')
                        button
                  th(scope='col') Код продукта
                    .text-filer
                      .input-group
                        input.form-control.search(type='text', placeholder="", value='')
                        button
                  th(scope='col') Канал реализации
                    .text-filer
                      .input-group
                        input.form-control.search(type='text', placeholder="", value='')
                        button
                  th(scope='col') Количество карт
                    .text-filer
                      .input-group
                        input.form-control.search(type='text', placeholder="", value='')
                        button
                  th(scope='col') Статус пакета
                    .select-filter
                      select.selectpicker
                        option Не выбрано
                        option Выполнен
                        option В обработке
                        option Проблема
                        option Отменен
                  th(scope='col') Кто создал
                    .select-filter
                      select.selectpicker
                        option Не выбрано
                        option konstantin_k
                        option malikov_vlad
                        option new_user
                  th(scope='col') Дата и время
                    .date-filter
                      .input-group.date
                        input.form-control.search(type='text', placeholder='Дата')
                        button(type="button").input-group-addon
                          svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='17', height='17', viewbox='0 0 17 17')
                            g
                            path(d='M14 2v-1h-3v1h-5v-1h-3v1h-3v15h17v-15h-3zM12 2h1v2h-1v-2zM4 2h1v2h-1v-2zM16 16h-15v-8.921h15v8.921zM1 6.079v-3.079h2v2h3v-2h5v2h3v-2h2v3.079h-15z')
                  th.no-arr(scope='col') Действия
              tbody.list
                tr
                  td
                    .table-img.img-no-fill.imgLiquid(data-toggle="popover", data-trigger="hover", data-placement="right", data-full="img/index/card_L_2.png")
                      img(src='img/index/card_L_2.png')
                  td.data-name 6666666666662
                  td 321232123
                  td Продукт 2
                  td SHOP_IVANOVO_1
                  td 132323
                  td
                    .dot-icon.green
                    | Выполнен
                  td User12
                  td
                    | 22.01.2018 20:02
                  td
                    .btn-wrap
                      a.btn-table.btn-edit.btn-detail(href='order_detail.html')
                        span.oi.oi-info(title='Детали заказа', aria-hidden='true')
                      a.btn-table.btn-del(data-toggle='modal', data-target='.deleteModal')
                        span.oi.oi-trash(title='Удалить пользователя', aria-hidden='true')

                      .deleteModal.modal.fade(tabindex='-1', role='dialog')
                        .modal-dialog.modal-dialog-centered(role='document')
                          .modal-content
                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                              | Закрыть
                              svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 640 480', enable-background='new 0 0 640 480', xml:space='preserve')
                                g
                                  g
                                    path(fill='', d='M554.3,5.7c-7.6-7.6-19.8-7.6-27.4,0L85.7,446.9c-7.6,7.6-7.6,19.8,0,27.4c3.8,3.8,8.7,5.7,13.7,5.7\
                                                                s9.9-1.9,13.7-5.7L554.3,33.1C561.9,25.5,561.9,13.3,554.3,5.7z')
                                g
                                  g
                                    path(fill='', d='M554.3,446.9L113.1,5.7c-7.6-7.6-19.8-7.6-27.4,0c-7.6,7.6-7.6,19.8,0,27.4l441.2,441.2\
                                                                c3.8,3.8,8.7,5.7,13.7,5.7c5,0,9.9-1.9,13.7-5.7C561.9,466.7,561.9,454.5,554.3,446.9z')
                            .modal-header
                              h5.modal-title
                                | Вы действительно хотите
                                br
                                | удалить заказ № 12323123?
                            .modal-footer
                              button.btn.white(type='button', data-dismiss="modal") Отмена
                              button.btn.blue(type='button', data-dismiss="modal") Удалить


