extends components/layout

block content
  main.search-page
    .container
      h2.title
        | Поиск карты
      p.sub
        | Введите номер карты

      .search-block
        .row.justify-content-center
          .col-xl-8.col-lg-10
            .search-wrap
              .input-group
                input.form-control#search-card-input(type='text', placeholder="--- ----- -----------")
                .input-group-append
                  button.btn.btn-outline-secondary(type='button')
                    .img-no-fill.imgLiquid
                      img(src='img/index/search_icon_L.png')

      .error-block
        .row.justify-content-center
          .col-xl-8.col-lg-10
            .error-wrap
              h4.error-title
                | Ошибка поиска
              p.error-sub
                | Карта не найдена. Проверьте введенные данные.

      .card-block
        .row.justify-content-center
          .col-xl-11.col-lg-12
            .card-wrap
              .row
                .col-lg-auto
                  .card-table-img.img-no-fill.imgLiquid
                    img(src='img/index/card_L_1.png')

                .col
                  .table-responsive
                    table.table.table-hover
                      thead
                        tr
                          th(scope='col') Номер карты
                          th(scope='col') Баланс
                          th(scope='col') Статус
                          th(scope='col') Дата активации
                          th(scope='col') № заявки
                      tbody
                        tr
                          td.card-num 123 32123 33333334567
                          td.card-money 5000
                          td
                            .dot-icon.green
                            | Активная
                          td 10.12.2017 22:02
                          td
                            a.table-link(href="order_detail.html") 12345


